#set ($tenant = "$!{ctx.identity.claims.tenant}")

{
  "version" : "2017-02-28",
  "operation" : "Query",
  "index": "lsi0",
  "query": {
    "expression": "pk = :tenant AND lsi0_sk = :app",
    "expressionValues": {
      ":app": $util.dynamodb.toDynamoDBJson($!{ctx.source.sk}),
      ":tenant": $util.dynamodb.toDynamoDBJson($tenant)
    }
  },
  limit: 10000
}
