#set ($tenant = "$!{ctx.identity.claims.tenant}")

{
  "version" : "2017-02-28",
  "operation" : "Query",
  "query": {
    "expression": "pk = :tenant AND sk = :source",
    "expressionValues": {
      ":source": $util.dynamodb.toDynamoDBJson("N~$!{ctx.source.source}"),
      ":tenant": $util.dynamodb.toDynamoDBJson($tenant)
    }
  },
  "limit": 1
}
