{
  "operation": "Query",
	"query" : {
    "index": "lsi0",
    "expression" : "pk = :tenant AND lsi0_sk = :app",
    "expressionValues" : {
      ":tenant" : $util.dynamodb.toDynamoDBJson($ctx.stash.tenant),
      ":app": $util.dynamodb.toDynamoDBJson($ctx.stash.app)
    }
  }
}
