
#if ("$!{ctx.identity.claims.username}" != "$!{ctx.stash.email}" && "$!{ctx.identity.claims.role}" != "admin")
  $util.error("Unauthorized")
#end

{
  "version": "2017-02-28",
  "operation": "GetItem",
  "key": {
      "pk": $util.dynamodb.toDynamoDBJson("$tenant"),
      "sk": $util.dynamodb.toDynamoDBJson("U~$!{ctx.stash.email}")
    }
  }
}
