{
    "version" : "2017-02-28",
    "operation" : "Query",
    "index": "lsi0",
    "query": {
      "expression": "lsi0_sk = :app",
      "expressionValues": {":app": $util.dynamodb.toDynamoDBJson($!{ctx.source.sk})},
      "limit": 1000
    }
}
