#set ($app = "E~$!{ctx.source.name}|")

{
    "version" : "2017-02-28",
    "operation" : "Query",
    "index": "lsi0",
    "query": {
      "expression": "pk = :tenant AND begins_with(sk, :app)",
      "expressionValues": {
        ":tenant": $util.dynamodb.toDynamoDBJson($!{ctx.source.tenant}),
        ":app": $util.dynamodb.toDynamoDBJson($app)
    },
    "limit": 1
    }
}
