{
  "version": "2017-02-28",
  "operation": "Query",
  "query": {
    "expression": "pk = :tenant AND begins_with(sk, :key)",
    "expressionValues": {
      ":tenant": $util.dynamodb.toDynamoDBJson("$ctx.stash.tenant"),
      ":key": $util.dynamodb.toDynamoDBJson("K~")
    }
  },
  #if ("$!{ctx.stash.limit}" != "")
    "limit": $!{ctx.stash.limit},
  #end
  #if ("$!{ctx.stash.nextToken}" != "")
    "nextToken": "$!{ctx.stash.nextToken}"
  #end
}
