
{
  "version" : "2017-02-28",
  "operation" : "Query",
  "query": {
    "expression": "pk = :tenant AND begins_with(sk, :source_node)",
    "expressionValues": {
      ":source_node": $util.dynamodb.toDynamoDBJson("E~$!{ctx.source.name}|"),
      ":tenant": $util.dynamodb.toDynamoDBJson("$!{ctx.source.pk}")
    }
  },
  "limit": 10000
}
