#set ($role_list = ["user", "admin"])

#if ("$!{ctx.args.tenant}" == "")
  ($util.error("No tenant specified"))
#else
  #set ($tenant_list = $util.parseJson("$!{ctx.identity.claims.tenants}"))
  #set ($tenant = $ctx.args.tenant)
#end

#if ($tenant_list.containsKey($tenant))
  $util.qr($ctx.stash.put("tenant", $tenant))
  $util.qr($ctx.stash.put("username", $ctx.identity.claims.username))
#else
  $util.error("Unauthorized: Not part of tenant ${tenant}")
#end

#if ($role_list.contains($tenant_list.get($tenant)))
  $util.qr($ctx.stash.put("role", $tenant_list.get($tenant)))
#else
  $util.error("Unauthorized: Invalid role")
#end

#foreach ($arg in $ctx.args.keys())
  $util.qr($ctx.stash.put($arg, $ctx.args.get($arg)))
#end
