#set ($role_list = ["user", "admin"])
#if ("!${ctx.args.tenant}" == "")
  ($util.error("No tenant specified"))
#else
  #set ($tenant_list = $util.parseJson($util.escapeJavaScript("$!{ctx.identity.claims.tenants}")))
#end

#if ($tenant_list.contains($tenant))
  $util.qr($ctx.stash.put("tenant", $tenant))
#else
  $util.error("Unauthorized: Not part of tenant ${tenant}")
#end

#if ($!role_list.contains($ctx.identity.claims.tenants.get($tenant)))
  $util.qr($ctx.stash.put("role", $ctx.identity.claims.tenants.get($tenant)))
#else
  $util.error("Unauthorized: Invalid role")
#end
