#set ($args = $!{ctx.args.args})
#set ($kwargs = $!{ctx.args.kwargs})

#if (! $args)
  #set ($args = [])
#end

#if (! $kwargs)
  #set ($kwargs = {})
#end

{
	"version": "2017-02-28",
	"operation": "Invoke",
	"payload": {
		"arguments": {
			"function": $util.toJson($ctx.args.function),
			"args": $util.toJson(${args}),
			"kwargs": $util.toJson(${kwargs})
		}
	}
}
